export default {

    content: [ "./resources/**/*.blade.php",
    "./resources/**/*.js",
    "./resources/**/*.vue",
    ],
    theme: {
        extend: {}

        ,
    }

    ,
    corePlugins: {
        preflight: false, // <--- ADICIONE ISSO AQUI
    }

    ,
    plugins: [],
}